* {
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #1a1a1a;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    border-right: 1px solid #555;
    padding: 20px;
    background-color: #111;
    flex-shrink: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin: 20px 0;
    cursor: pointer;
  }
  
  .main-content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
  }
  
  .main-content h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a:hover{
    color: #444;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    background-color: #333;
    color: white;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    grid-column: span 2;
    padding: 10px 20px;
    background-color: #444;
    border: 1px solid #888;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Responsivo para pantallas pequeñas */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #555;
      text-align: center;
    }
  
    .main-content {
      padding: 20px;
    }
  
    form {
      grid-template-columns: 1fr;
    }
  
    button {
      grid-column: span 1;
      width: 100%;
    }
  }
  